<div class="row align-items-center main">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <ng-container *ngFor="let item of checkboxItems | keyvalue">
            <input type="checkbox" class="btn-check" [id]="'property'+item.key" (change)="propertyToggle(item)" [checked]="selectedProperties.includes(item.key)">
            <label class="btn btn-outline-primary" [for]="'property'+item.key">{{item.value}}</label>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <ng-container *ngFor="let item of radioItems | keyvalue">
            <input type="radio" class="btn-check" [name]="'hero'+item.key" [id]="'hero'+item.key" [checked]="selectedHero === item.key" (change)="heroToggle(item)">
            <label class="btn btn-outline-primary" [for]="'hero'+item.key">{{item.value}}</label>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

